.container {
    background: linear-gradient(90deg, #000 0%, #021043 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 875px) {
    .container {
        height: calc(100vh - 76px);
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
}

.hero {
    max-width: 480px;
    object-fit: contain;
    width: auto;
    height: auto;
}

.title {
    text-align: center;
    margin: 30px;
    color: #fff;
    line-height: 150%;
}

.description {
    text-align: center;
    margin: 30px;
    color: #fff;
    line-height: 150%;
}

.infoContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    padding: 20px 44px;
    color: #fff;
    /* font-size: 20px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box span {
    padding-top: 5px;
}


@media screen and (max-width: 580px) {
    .hero {
        max-width: 80%;
    }

    .title {
        font-size: 24px;
    }

    .infoContent {
        flex-direction: column;
    }

    /* .box {
        width: 80%;
        margin-bottom: 14px;
        text-align: center;
    } */
}

@media screen and (max-width: 875px) {
    .main {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
    }
}